:root {
    --brand-green: #58cc02;
    --accent: #4a9bff;
    --footera: #A5ED6E;
    --footertext: #D7FFB8;
    --bg: #F7FBFF;
    --campocolor: #f7f7f7;
    --campoborde: #e5e5e5;
    --text: #1a1a1a;
    --btnsazul: #1fc2ff;
    --muted: #6b7280;
    --max-width: 100vw;
    --btnshadow: #1AA8EB;
    --btngrisshadow: #cecece;

    --headline: 'mFeather';
    --body: 'mNunito';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    height: 100%;
    background: var(--bg);
    color: var(--text);
    font-family: var(--body);
    line-height: 1.45
}

.container {
    max-width: 100%;
    margin: 0;
}

main{
    text-align:center;
    padding-left:20px;
    padding-right:20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    padding-left:20px;
    padding-right:20px
}

.logo {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-weight: 700;
    font-family: var(--headline);
    font-size: 1.25rem;
    color: var(--brand-green)
}

a {
    color: var(--footera);
    text-decoration: none;
    font-weight: 600
}

nav {
    display: flex;
    gap: 1rem;
    align-items: center
}

.cta {
    background: var(--brand-green);
    font-family: var(--body);
    color: white;
    padding: .55rem 2rem;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    border:none;
    box-shadow: 0px 5px 0px 0px var(--btnshadow);
}

.hero {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

h1 {
    font-family: var(--headline);
    color: var(--brand-green);
    font-size: 2.25rem;
    line-height: 1.05;
    margin-bottom: .6rem
}

.hero .buttons {
    display: flex;
    gap: .75rem
}

input{
    background-color: var(--campocolor);
    border: 2px solid var(--campoborde);
    padding:15px;
    border-radius:12px;
}

.btn {
    padding: .65rem 1rem;
    border-radius: 12px;
    font-weight: 700;
    text-decoration: none;
    font-family: var(--body);
    display: inline-block;
    border:none;
    cursor: pointer;
}

.btn.primary {
    background: var(--btnsazul);
    color: white;
    box-shadow: 0px 5px 0px 0px var(--btnshadow);
}

.btn.secondary {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.06);
    color: var(--btnsazul);
    box-shadow: 0px 5px 0px 0px var(--btngrisshadow);
}

footer {
    background: var(--brand-green);
    margin-top: 3rem;
    padding: 2rem 0;
    color: var(--muted);
    font-size: .9rem;
    position:fixed;
    bottom:0;
    width: 100%;
}

.footer-grid {
    color: var(--footertext);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left:30px;
    margin-right:30px;
}